.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


           /****** Page d'accueil *******/

.ul-accueil
{
  display:flex;
  justify-content:space-around;
  align-items:center;
}
.nav-accueil
{
  display:block;
  justify-content:space-around;
  align-items:center;
  padding-top:50px;
  width:100%;
}
ul
{
  list-style:none;
}
ul a
{
  text-decoration:none;
}
.header-accueil,.nav-accueil
{
  background-color:green;
  height:100px;
}
.form-search
{
  display:inline-block;
}
.input-search
{
  display:block;
}
section.search
{
  padding:20px 0 20px 0;
}
.card-top
{
  display:flex;
  justify-content:space-around;
}
.invalid
{
  color:red;
}
.invalid-input
{
  border:1px solid red;
}
.login-form
{
  width:30%;
  padding:30px;
  background-color:#746963;
  color:white;
  opacity:0.7;
}
.login-form label
{
  font-size:20px;
}
.section-login
{
  background:url('./Images/fond-login.jpg') no-repeat;
  background-size:cover;
  padding-top:20px;
  padding-bottom:20px;
}
.register-form
{
  width:30%;
  padding:30px;
  background-color:#746963;
  color:white;
  opacity:0.7;
}
.register-form label
{
  font-size:20px;
}
.section-register
{
  background:url('./Images/fond-login.jpg') no-repeat;
  background-size:cover;
  padding-top:20px;
  padding-bottom:20px;
}
.search
{
  background-color:blue;
}
.form-search
{
  margin-right:20px;
}
.form-search label
{
  color:white;
  font-size:20px;
}

             /********** Navbar **********/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
*{ 
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
list-style: none;
text-decoration: none;
/* font-family: ‘Montserrat’, sans-serif; */
}
body{
font-family: 'Montserrat', sans-serif;
}
nav{
background: #0082e6;
height: 120px;
width: 100%;
position:relative;
}
label.logo{
color: white;
font-size: 35px;
line-height: 80px;
font-weight: 600;
padding: 0 100px;
cursor: pointer;
}
nav ul{
float: right;
margin-right: 20px;
height:100%;
}
nav ul li{
display: inline-block;
line-height: 80px;
margin: 0 5px;
height:100%;
}
nav ul li a{
color: white;
font-size: 17px;
padding: 7px 17px;
border-radius: 3px;
text-transform: uppercase;
font-weight: 600;
}
a.active,a:hover{
background: #1b9bff;
transition: .5s;
}
.check-btn{
color: white;
font-size: 30px;
float: right;
line-height: 80px;
margin-right: 40px;
cursor: pointer;
display: none;
}
#check{
display: none;
}
@media screen and (min-width:858px)
{
  nav
  {
    height:120px !important;
  }
}
@media screen and (max-width:858px)
{
  /*nav ul h4,nav ul a
  {
    font-size:10px;
  }*/
  nav
  {
    /*height:350px;*/
  }
  nav ul
  {
    display:none;
    margin-top:100px;
    height:60% !important;
  }
  nav ul li
  {
    display:block;
    line-height:40px;
    height:20%;
  }
  .hiddene
  {
    width:50px;
    height:15px;
    background-color:blue;
    float:right;
    /*margin-right:50px;*/
    /*margin-top:50px;*/
    position:absolute;
    top:50px;
    right:50px;
  }
  .hiddene::after
  {
    width:50px;
    height:15px;
    background-color:blue;
    content:'';
    display:block;
    /*margin-bottom:10px;*/
    position:absolute;
    top:20px;
    /*right:50px;*/
  }
  .hiddene::before
  {
    width:50px;
    height:15px;
    background-color:blue;
    content:'';
    display:block;
    position:absolute;
    top:-20px;
    /*right:50px;*/
  }

           /***** Responsive barre de search *****/

  .form-search
  {
    display:block;
  }
  .search form
  {
    width:80%;
    margin:10px auto;
  }

               /***** Responsive Login *****/

  .section-login form
  {
    width:60%;
  }
  .section-register form
  {
    width:60%;
  }
  
}
@media screen and (min-width:600px)
{
  .card
  {
    width:50%;
  }
  .modify-form
  {
    width:50%;
  }
}
@media screen and (max-width:600px)
{
  .card
  {
    width:90%;
  }
  .modify-form
  {
    width:80%;
  }
}
@media screen and (min-width:485px)
{
  .thanks
  {
    font-size:80px;
  }
}
@media screen and (max-width:485px)
{
  .thanks
  {
    font-size:60px;
  }
}
@media screen and (max-width:800px)
{
  .results img
  {
    width:250px !important;
  }
}
@media screen and (max-width:458px)
{
  .section-login form
  {
    width:90%;
  }
  .section-register form
  {
    width:90%;
  }
}
.show
{
  display:block;
  /*margin-top:100px;*/
}
.heigh
{
  height:350px;
}
















/*@media (max-width: 952px){
label.logo{
font-size: 30px;
padding-left: 50px;
}
nav ul li a{
font-size: 16px;
}
}
@media (max-width: 858px){
.check-btn{
display: block;
}
nav ul{
position: fixed;
height: 100vh;
width: 100%;
background: #2c3e50;
top: 80px;
left: -100%;
text-align: center;
transition: all .5s;
}
nav ul li{
display: block;
margin: 50px 0;
line-height: 30px;
}
nav ul li a{
font-size: 20px;
}
a:hover,a.active{
background: none;
color: #0082e6;
}
#check:checked ~ ul{
left: 0;
}
}
/*section{
background: url(./images/bg1.jpg);
background-size: cover;
height: calc(100vh — 80px);
}*/



      /*****  Footer  *****/

*, *:before, *:after {
box-sizing: border-box;
}

body {
font-family: poppins;
margin: 0;
display: grid;
font-size: 14px;
}
header p {
padding: 50px;
text-align: center;
color: #bebebe;
text-transform: uppercase;
font-size: 65px;
font-weight: 700;
}
.footer {
display: flex;
flex-flow: row wrap;
padding: 50px;
color: #fff;
background-color: darkblue;
}

.footer > * {
flex:  1 100%;
}

.l-footer {
margin-right: 1.25em;
margin-bottom: 2em;
}

h2 {
font-weight: 400;
font-size: 15px;
}

.footer ul {
list-style: none;
padding-left: 0;
}

.footer li {
line-height: 2em;
}

.footer a {
text-decoration: none;
}

.r-footer {
display: flex;
flex-flow: row wrap;
}

.r-footer > * {
flex: 1 50%;
margin-right: 1.25em;
}

.box a {
color: #999;
}

.h-box {
column-count: 2;
column-gap: 1.25em;
}

.b-footer {
text-align: center;
color: #999;
padding-top: 50px;
}

.l-footer p {
padding-right: 20%;
color: #999;
}   

@media screen and (min-width: 600px) {
.r-footer > * {
flex: 1;
}

.features {
flex-grow: 2;
}

.l-footer {
flex: 1 0px;
}

.r-footer {
flex: 2 0px;
}
}
footer
{
  font-size:20px;
}
footer h2
{
  font-weight:bold;
  font-size:20px !important;
}
.modify-form
{
  /*width:50%;*/
  margin-top:50px;
  margin-bottom:50px;
}
.message-modify
{
  border-radius:5px;
  width:30%;
  height:50px;
  background-color:#31B0D5;
  color:white;
  font-size:20px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.hello-name
{
  color:white;
}

           /******** Page 404 *******/

.mainbox {
background-color: #95c2de;
margin: auto;
height: 600px;
/*width: 600px;*/
position: relative;
}
@media screen and (min-width:888px)
{
  .err
  {
    position:absolute;
    left: 45%;
    top: 8%;
  }
}
.err {
  color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 11rem;
  /*position:absolute;
  left: 45%;
  top: 8%;*/
  /*margin-right:auto;
  margin-left:auto;*/
}

.far {
  position: absolute;
  font-size: 8.5rem;
  left: 42%;
  top: 15%;
  color: #ffffff;
}

.err2 {
  color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 11rem;
  position:absolute;
  left: 68%;
  top: 8%;
}

.msg {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    position:absolute;
    left: 16%;
    top: 45%;
    width: 75%;
  }

.mainbox a {
text-decoration: none;
color: white;
}

.mainbox a:hover {
  text-decoration: underline;
}
.mainbox p
{
  font-size:20px;
}
.thanks
{
  background-color:#31B0D5;
  height:400px;
  /*font-size:80px;*/
  color:white;
}
@media screen and (min-width:1082px)
{
.p1
{
  /*text-align:center;*/
  /*margin-left:300px;
  /*margin:0 auto;
  /*display:block;*/
}
}

         /***** Card *******/

.card
{
  /*width:50%;*/
  margin:20px auto 0 auto;
  border:blue 3px solid;
  padding-bottom:20px;
  background-color:#0082E6;
  font-size:20px;
  color:white;
}
.card span
{
  color:yellow;
  font-weight:bold;
}

           /***** Results ******/

.results h2
{
  color:#0082E6;
  font-size:30px;
}

          /***** Search *****/

.hidden-option
{
  visibility:hidden;
}

          /***** Top sejours ******/

.Top h1
{
  color:#0082E6;
}
.carousel button
{
  color:blue;
}


/*input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}*/

.card img
{
  width:100% !important;
}
.section-register h1,.section-login h1
{
  color:#0082E6;
}
.is-invalid
{
  border:2px solid red;
}
.nosejour
{
  width:30%;
  height:60px;
  margin:10px auto;
  background-color:#0082E6;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:5px;
  font-size:20px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
input[type="date"] 
{
  /*border: none;*/
  box-sizing: border-box;
  outline: 0;
  padding: .75rem;
  position: relative;
  width: 100%;
}
.title-coordinate
{
  color:#0082E6;
}
.history
{
  margin:100px 0 50px 0;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin:10px auto;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#top::after
{
  display:block;
  width:12%;
  height:3px;
  content:'';
  background-color:blue;
  position:absolute;
  top:20px;
  right:60%;
}
#top::before
{
  display:block;
  width:12%;
  height:3px;
  content:'';
  background-color:blue;
  position:absolute;
  top:20px;
  left:60%;
}
@media screen and (max-width:1218px) and (min-width:832px){
  #top::before
  {
    left:65%;
  }
  #top::after
  {
    right:65%;
  }
}
@media screen and (max-width:832px) and (min-width:486px){
  #top::before
  {
    left:75%;
  }
  #top::after
  {
    right:75%;
  }
}
@media screen and (max-width:486px){
  #top::before
  {
    left:85%;
  }
  #top::after
  {
    right:85%;
  }
}
.Top
{
  position:relative;
  padding:0 10px 10px 10px;
}
